<!DOCTYPE html>
<html lang="en">
<head>
    <title> Crypto </title>
</head>
<body>
<a href="/"> << Back </a>
{% if data %}
    <h1>{{ data.name }} ({{ data.symbol }})</h1>
    <p>Rank: {{ data.rank }}</p>
    <p>Price: ${{ data.price }}</p>
    <form action="/purchase/{{ data.symbol }}" method="POST" style="display:inline;">
        <label>
            <input type="number" step="any" name="amount" placeholder="Amount" required>
        </label>
        <button type="submit">BUY</button>
    </form>
    <form action="/sell/{{ data.symbol }}" method="POST" style="display:inline;">
        <label>
            <input type="number" step="any" name="amount" placeholder="Amount" required>
        </label>
        <button type="submit">SELL</button>
    </form>
{% else %}
    <p>Crypto not found</p>
{% endif %}
</body>
</html>