<!DOCTYPE html>
<html lang="en">
<head>
    <title> Transactions </title>
</head>
<body>
<a href="/"> << Back </a>
<h1> Transactions </h1>
<ul>
    {% for transaction in data %}
        <li>{{ transaction.type }}: {{ transaction.amount }} ({{ transaction.symbol }}) for ${{ transaction.price }}
            at [{{ transaction.time }}] || value: ${{ transaction.value }}
        </li>
    {% endfor %}
</ul>
</body>
</html>
